body {
	background-image: url("./blueTextureBG.jpg");
	margin-right: 15%;
	margin-left: 15%;
}

.article{
	border: 10px solid white;
	background-color: white;
}

.section{
	border: 4px solid #1D2475;
	border-radius: 15px;
	background-color: #CCCCCC;
	padding: 5px;
	margin-top : 10px;
}

#header h1{
	text-align : center;
	color: white;
}

#header{
	background-color: #8E8E8E;
	overflow:hidden;
}

#header ul {
	font-size : 14pt;
	color :#B7B7B7;
}
.article2{
	overflow: hidden;
}

#sidebar {	
	margin-top:10px;
	margin-right: 10px;
	float: left;
	background-color : #3366CC;
	width: 150px;
	border: 4px solid #1D2475;
	border-radius: 15px;
	position: relative;
	
}

img.profile {
	float: right;
	}

h2{
	border-bottom : 2px dashed blue;
	text-align : right;
}

div * * *:hover {
	background-color : #ffff00;
}


